/*
* Author: Jeremy Carlsten
*/

@import url('styles/reset.css');
@import url('styles/global.css');

#page-wrap {
    display:flex;
    align-items: center;
    justify-content: center;
}

#welcome-section {
    width: 100%;
    height: 100vh;
    color: #fff;
    padding-top: 100px;
    background: url('images/pexels-danny-meneses-943096.jpg') no-repeat;
    background-position: center;
    background-size: cover;
}

#welcome-section > * {
    padding-left: 50px;
    margin: 0 auto;
}

#welcome-section p {
    font-family: 'Yanone Kaffeesatz', serif;
    opacity: .7;
    margin-top: 25%;
    font-size: .9em;
}

#welcome-section a {
    margin-left:5px;
    color: #cecece;
}

#welcome-section a:hover {
    text-decoration: none;
}


#keep-going{
    font-family: 'Yanone Kaffeesatz', serif;
    position:absolute;
    left: 50vw;
    bottom: 15px;
    color: #fff;
    opacity: .7;
    margin: 0 auto;
    text-align: center;
}

.super-bold {
    display:block;
    font-size: 2.1em;
    font-weight: 750;
}